{
  "name": "net.atos~timelinegenerator~${timelinegeneratorVersion}",
  "config": {
    "main" : "net.atos.entng.timelinegenerator.TimelineGenerator",
    "port" : 8099,
    "app-name" : "TimelineGenerator",
    "app-address" : "/timelinegenerator",
    "app-icon" : "timelinegenerator-large",
    "app-type" : "END_USER",
    "host": "${host}",
    "ssl" : $ssl,
    "userbook-host": "${host}",
    "integration-mode" : "HTTP",
    "app-registry.port" : 8012,
    "mode" : "${mode}",
        "frontend-ui" : "angular",
    "entcore.port" : 8009
  }
}
